<tr>
  <td>
    <%= link_to "#{player.player}", player_path(player.id) %>
  </td>
  <td><%= player.team %></td>
  <td><%= player.position %></td>
  <td><%= player.attempts %></td>
  <td><%= player.attempts_per_game %></td>
  <td><%= player.yds %></td>
  <td><%= player.avg %></td>
  <td><%= player.yards_per_game %></td>
  <td><%= player.touchdowns %></td>
  <td><%= player.longest_rush %></td>
  <td><%= player.first_rush_downs %></td>
  <td><%= player.first_rush_down_percentage %></td>
  <td><%= player.rushing_20_yards %></td>
  <td><%= player.rushing_40_yards %></td>
  <td><%= player.fumbles %></td>
</tr>