<%= stylesheet_link_tag params[:controller] %>
<body>
  <h1>
    <div>the Rush - Player statistics page</div>
  </h1>
  <div>
    <h4>Import data</h4>
    <%= form_tag import_players_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import JSON" %>
    <% end %>

    <h4>Export data</h4>
    <div><%= link_to( 'Export CSV', export_players_path(format: "csv", params: params.permit(:search, :sort, :direction)), :class => "btn-export") %></div>

    <%= form_tag players_path, :method => 'get' do %>
      <%= label_tag(:search, "Player search") %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag("Search", :name => nil) %>
    <% end %>

    <table>
      <tr>
        <td>Player Name</td>
        <td>Team</td>
        <td>Position</td>
        <td>Attempts</td>
        <td>Attempts per game</td>
        <th><%= sortable "yds", "Total Rushing Yards", params[:search] %></th>
        <td>Rushing Average Yards Per Attempt (Avg)</td>
        <td>Rushing Yards Per Game</td>
        <th><%= sortable "touchdowns", "Total Rushing Touchdowns", params[:search] %></th>
        <th><%= sortable "longest_rush", "Longest Rush", params[:search] %></th>
        <td>Rushing First Downs</td>
        <td>Rushing First Down Percentage</td>
        <td>Rushing 20+ Yards</td>
        <td>Rushing 40+ Yards</td>
        <td>Fumbles</td>
      </tr>
      <% @players.each do |player| %>
        <tr>
          <td>
            <%= render partial: "player_details", :locals => {:player => player} %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <%= will_paginate @players %>
</body>
